.header {
    text-align: center;
    margin: 2em 0;
    color: white;
}

.episode_container {
    text-align: center;
}

.view-more {
    text-align: center;
    margin-top: 10px;
}

.view-more:hover a {
    text-decoration: none;
    color: white;
}